body {
    margin: auto;
    text-align: center;
    background-color: #ffffff;
    color: #FFFF;
    font-family: sans-serif;
    
}

.me {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    margin-top: 5px;
}

.logos {
    border-radius: 4px;
    padding: 5px;
    width: 110px;
    border-radius: 40px;
}

.logos:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);     
  }

.testbar {
    margin: auto;
    width: 60%;
    background-color: #006625;
    border-radius: 25px;
    padding: 5px;
    position: relative;
    top: 25px;
    height: 50px;  
}

.testbar a {
    display: inline-block;
    color: #56c980;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    text-decoration: none;
    border-radius: 40px;
}

.testbar a:hover {
    background: #ddd;
    color: black;
}

.header_images {
    display: inline-block;
    align-items: flex-start;
    height: 100%;
    width: 60%;
    margin: auto;
    overflow: visible;
}

.header_images img {
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.header_images a {
    text-decoration: none;
}

.about {
    color: black;
    font-size: large;
    width: 60%;
    margin: auto;
}  

.main {
    padding: 16px;
    margin-top: 50px;
    font-family:'Franklin Gothic Medium'
}
